::-webkit-scrollbar {
  display: none;
}

@import 'base/media';
@import 'abstracts/Load';

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  user-select: none;
  body {
    background-color: $MainColor1;
    overflow: hidden;
    max-width: 1920px;
    max-height: 1080px;
    .screen{
      transition: all .5s;
    }
  }
}
