.LeftFadeIn{
    opacity: 1;
    transform: translateX(0px);
}
.RightFadeIn{
    opacity: 1;
    transform: translateX(0px);
}
.TopFadeIn{
    opacity: 1;
    transform: translateY(0px);
}
.BottomFadeIn{
    opacity: 1;
    transform: translateY(0px);
}

.LeftFadeOut{
    opacity: 0;
    transform: translateX(-100px);
}
.RightFadeOut{
    opacity: 0;
    transform: translateX(100px);
}
.TopFadeOut{
    opacity: 0;
    transform: translateY(-100px);
}
.BottomFadeOut{
    opacity: 0;
    transform: translateY(100px);
}

.PageAniOn{
    transform: translateX(0px);
    opacity: 1;
    z-index: 999;
}
.PageAniOff{
    transform: translateX(100px);
    opacity: 0;
    z-index: -999;
}